.hidden {
	display: none;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: grey;
	display: block;
	margin: 0 auto;
	text-align: center;
}


nav {
	text-align: center;
	background: lightgrey;
	margin: 10px;
	padding-top: 3px;
	padding-bottom: 10px;
}

main {
	margin-top: 20px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	display: flex;
}	

.boardDiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.board {
	display: block;
}

.boardRow {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}	


.unit {
	background-color: white;
	border: 2px solid black;
	width: 55px;
	height: 55px;
	background-size: 100% 100%;
}


.X {
	background-image: url(images/X.png);
}

.O {
	background-image: url(images/O.png);
}	