.hidden {
	display: none;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: grey;
	display: block;
	margin: 0 auto;
	text-align: center;
}


nav {
	text-align: center;
	background: lightgrey;
	margin: 4px;
	padding-top: 3px;
	padding-bottom: 6px;
}

main {
	margin-top: 20px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-bottom: 20px;
	display: flex;
}	

.boardDiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.board {
	display: block;
}

.boardRow {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}	


.unit {
	background-color: white;
	background-size: 100% 100%;
	border: 1px solid lightgrey;
	/*background-image: url(images/border.png);
	/*border-image: url(images/border.png) 50 50 50 50 stretch stretch;*/

}


.X {
	background-image: url(images/X.png);
}

.O {
	background-image: url(images/O.png);
}	


/*@media (min-width: 568px) and (max-width: 736px) {
	nav {
		/*transform: rotate(90deg) translateX(80px);
		/*writing-mode: vertical-rl;*/
/*		width: 200px;
		/*????? When the width changes, the padding/space between the board and the nav bar changes? 

		height: 100px;
		margin-top: 0;
		margin-right: 10px;
		padding: 5px;
		float: right;
	}

	.boardControl {
		display: block;

	}
} */