body {
	height: 100%;
	background-color: grey;
}

nav {
	text-align: center;
	background-color: lightgrey;
	margin: 10px;
	padding: 10px;
	height: 100px
}

main {
	text-align: center;
	margin-top: 20px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	display: flex;
}	

.boardDiv {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
}


.boardRow {
	display: flex;
}	

.unit {
	background-color: red;
	border: 3px solid black;
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
}


.X {
	background-image: url(images/X.png);
}

.O {
	background-image: url(images/O.png);
}	