.hidden {
	display: none;
}



html, body {
	height: 100%;
	width: 100%;
	background-color: #E7C47A;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #F2F0F2;
}


nav {
	text-align: center;
	background: #594842;
	margin: 4px;
	padding-top: 3px;
	padding-bottom: 6px;
}

button {
	color: E7C47A;
	background-color: #F2F0F2;
	border: 0;
}

main {
	margin-top: 20px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-bottom: 20px;
	display: flex;
}	

.boardDiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.board {
	display: block;
}

.boardRow {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}	


.unit {
	background-color: #D46660;
	background-size: 100% 100%;
	border: 1px solid lightgrey;

}


.X {
	background-image: url(images/X.png);
}

.O {
	background-image: url(images/O.png);
}	
